<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Process-->
    <add key="WindowTitle" value="THEORG"/> 						<!--Titel des Hauptfensters Bsp.: Teorg-->
    <add key="ProcessName" value="TSys"/>   						<!--Name des Prozesses Bsp.: Tsys-->
    <!--App Settings-->
    <add key="Timer" value="30"/>           						<!--Wie oft in Sekunden gepfüft werden soll ob der Prozess läuft-->
    <add key="LogLevel" value="3"/>         						<!--LogLevel: 0 = alles, 1 = Methodenname und Fehlermeldungen, 3 = Fehlermeldungen-->
    <add key="ProcessPath" value="D:\THEORG\THEORG\Tsys.exe"/>		<!--Pfad der Exe mit Namen Bsp.: D:\THEORG\THEORG\Tsys.exe -->
    <add key="ProcessArgument" value="/execute"/> 					<!--Argument für die Exe-Datei die gestartet werden soll Bsp.: /execute-->
    <add key="InvertColors" value="false"/> 					  <!--Invertiert die Farben rot und grün im Monitor-->
    <add key="Kill" value="false"/>         						<!--Alle Watchdogs werden beendet wenn true-->
    <!--Notification Settings-->
    <add key="NotificationTitle" value="Der Prozess wurde beendet!"/> <!--Titel der Benachrichtigungen-->
    <add key="NotificationMessage" value="Bitte übernehmen."/>		  <!--Nachricht in der Benachrichtigungen-->
  </appSettings>
</configuration>